/* videoRecorder.css */

/* Container styles */
.video-recorder-container {
  width: 765px;
  background-color: #FFFFFF ;
  border-radius: 20px;
  height: 680px;
 
  


}

/* Header styles */
.video-recorder-header {
  display: flex;
  flex-direction: row;
  gap: 6px;
  background-color: #FFFFFF;
  margin-bottom: 12px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-left: 20px;
  padding-top: 28px;
  
 
}

.header-text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #9395B8;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}

.header-icon img {
  width: 3px;
  height: 3px;
}

/* Title styles */
.video-recorder-title {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.7px;

}

/* Video container styles */
.video-container {
  background-size: cover;
  background-position: center;
  width: 725px;
  height: 404.46px;
  margin-bottom: 13.77px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Stats and interaction styles */
.stats-container {
  display: flex;
  background-color: #FFFFFF;
  gap: 16px;
  height: 37px;
  align-items: center;
}

.stats-item {
  display: flex;
  align-items: center;
}

.stats-item img {
  margin-right: 6px;
  
}

.stats-text {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #7B7EA5;
}

/* Separator line styles */
.separator {
  width: 725px;
  height: 1px;
  background-color: #EEF0F7;
  margin-bottom: 16px;
}

/* Comment section styles */
.comment-section {
  margin-bottom: 16px;
}

.comment-item {
  background-color: #FFFFFF;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 16px;
  padding: 8px;
}

.comment-item img {
  border-radius: 50%;
}

.comment-content {
  display: flex;
  flex-direction: column;
}

.comment-name {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #7B7EA5;
  margin-bottom: 4px;
}

.comment-text {
  font-family: Inter, sans-serif;
  font-weight: 548;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  margin-bottom: 8px;
}

.comment-time {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #9395B8;
}

.comment-time span {
  color: #353754;
}
